<app-header></app-header>
<ng-container *ngIf="products.length != 0">
  <div class="container">
    <div class="card-table">
      <div class="cart-product">
        <table class="table table-responsive">
          <thead>
            <tr>
              <th>Sr.No</th>
              <th>Product Name</th>
              <th>Product Image</th>
              <th>Description</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Total</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of products; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ item.title }}</td>
              <td>
                <img style="width: 120px" src="{{ item.image }}" alt="" />
              </td>
              <td style="width: 25%">{{ item.description }}</td>
              <th style="width: 12%">{{ item.price }}</th>
              <td style="width: 12%">{{ item.quantity }}</td>
              <!-- <button (click)="decreaseQuantity(item.id)">-</button>
              <button (click)="increaseQuantity(item.id)">+</button> -->
              <td style="width: 12%">{{ item.total }}</td>
              <td>
                <button (click)="removeProduct(item)" class="btn btn-danger">
                  <i class="material-icons">delete</i>
                </button>
              </td>
            </tr>
            <tr>
              <td colspan="4"></td>
              <td>
                <button (click)="emptyCart()" class="btn btn-danger">
                  Empty Cart
                </button>
              </td>
              <td>
                <button routerLink="/" class="btn btn-warning">
                  Shop More
                </button>
              </td>
              <td>
                <button routerLink="/checkout" class="btn btn-success">
                  Checkout
                </button>
              </td>
              <td>
                <strong>Grand Total : ${{ grandTotal }}</strong>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="products.length == 0">
  <div class="container box">
    <div class="card">
      <h5 class="card-title">My Cart</h5>
    </div>
    <div class="center">
      <img src="https://www.meerabasu.in/assets/images/empty-cart.png" alt="" />
      <h6>Add item to it now</h6>
      <button routerLink="/" class="btn btn-primary">Shop Now</button>
    </div>
  </div>
</ng-container>
