.head {
  font-size: 30px;
}
.ship {
  font-size: 40px;
  padding-right: 20px;
}
.form-control {
  border-radius: 3px;
  width: 600px;
  margin-left: 20px;
}
.search-icon {
  position: relative;
  z-index: 10;
  right: 50%;
  top: 20px;
  color: rgb(247, 219, 65);
}
.cart-icon {
  margin-right: 20px;
}
.image-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100ch;
}
.badge {
  font-size: 10px;
}
.card {
  margin: 40px;
  padding: 20px;
}
.card img {
  height: 200px;
  width: 200px;
  margin: 10px 20px 10px 20px;
  padding: 20px 10px 20px 10px;
  transition: 0.3s ease-in-out;
}
.card img:hover {
  transition: 0.3s ease-in-out;
  transform: scale(1.1);
}
