.image-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100ch;
}
.card {
  margin: 40px;
  padding: 20px;
}
.card img {
  height: 200px;
  width: 200px;
  margin: 10px 20px 10px 20px;
  padding: 20px 10px 20px 10px;
  transition: 0.3s ease-in-out;
}
.card img:hover {
  transition: 0.3s ease-in-out;
  transform: scale(1.1);
}
.btn-s {
  margin: 20px;
}
