<app-header></app-header>

<section class="container">
  <div class="row">
    <ng-container *ngFor="let item of productList">
      <div class="card col-md-3">
        <img src="{{ item.image }}" alt="" />

        <h5 class="image-title">{{ item.title }}</h5>
        <p><strong>Price:</strong>${{ item.price }}</p>
        <p></p>
        <button
          class="btn btn-warning"
          (click)="getProductDetails(item)"
          routerLink="productlist"
        >
          View the details.
        </button>

        <button class="btn btn-warning btn-s" (click)="addtocart(item)">
          Add to cart
        </button>
      </div>
    </ng-container>
  </div>
</section>
