<section class="container">
  <div class="align-item-center">
    <ng-container *ngIf="productDetails">
      <div class="card">
        <img [src]="productDetails.image" />

        <h5 class="image-title">{{ productDetails.title }}</h5>
        <p><strong>Price:</strong>{{ productDetails.price }}</p>
        <p><strong>About:</strong> {{ productDetails.description }}</p>
        <p><strong>Quantity:</strong> {{ productDetails.quantity }}</p>
        <button
          class="btn btn-warning"
          (click)="addtocart(productDetails)"
          routerLink="cart"
        >
          Add to Cart
        </button>
        <button class="btn btn-warning" routerLink="/cart">Go to cart</button>
        <button class="btn btn-warning" routerLink="/">Shop More</button>
      </div>
    </ng-container>
  </div>
</section>
