<!-- <section class="container"> -->
<!-- <div class="row"> -->
<!-- <ng-container *ngFor="let item of productList"> -->
<!-- <div class="card col-md-3"> -->
<!-- <img src="{{ item.image }}" alt="" /> -->
<!-- <h5 class="image-title">{{ item.title }}</h5>
    <p><strong>Price:</strong>${{ item.price }}</p>
    <p></p> -->
<!-- <button class="btn btn-warning">Add to Cart</button> -->
<!-- </div> -->
<!-- </ng-container> -->
<!-- </div> -->
<!-- </section> -->

<!-- <ng-container *ngFor="let item of products">
  <img src="{{ item.image }}" alt="" />
  <h5 class="image-title">{{ item.title }}</h5>
  <p><strong>Price:</strong>${{ item.price }}</p>
  <p>${{ item.description }}</p>
</ng-container> -->

<div>
  <!-- {{ data }} -->
</div>
