.card {
  padding: 40px;
  margin: 40px;
  text-align: center;
  background-color: #ffd000;
}
.thanks {
  margin: 20px;
  padding: 30px;
  text-align: center;
  font-size: 50px;
  background-color: #ffd000;
}
